{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Mapa de Sinistros</title>

    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    >

    <style>

        html,
        body {
            height: 100%;
            margin: 0;
        }

        #map {
            height: 100%;
            width: 100%;
        }

    </style>

</head>

<body>

    <div id="map"></div>

    {{ map_data|json_script:"map-data" }}

    <script
        src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js">
    </script>

    <script
        src="{% static 'js/map.js' %}">
    </script>

</body>

</html>